*{
    margin: 0;
}

header{
    height:100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#poke-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}