body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 100px;
    width: 100%;
    background-color: green;
    color: yellow
}

img {
    width: 600px;
    height: 500px;
}