*{
    margin: 0;
}

header{
    height: 100px;
    background-color: darkgray;
}

main{
    height: calc(100vh - 100px);
    display: flex;
}

aside{
    flex: 1;
    background-color: lightgray;
}

section{
    flex: 8;
    display: flex;
    flex-direction: column;
}

div{
    flex: 8;
    background-color: white;
}

footer{
    flex: 2;
    background-color: black;
}

